<strong>Olá, {{ student }}</strong>
<p><strong>Bem vindo ao Gym Point</strong></p>
<p>Sua matrícula foi reaizada com sucesso!</p>
<p>Abaixo segue os dados da matrícula: </p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Inicio da matrícula: </strong> {{ start_date }} <br />
  <strong>Fim da matrícula: </strong> {{ end_date }} <br />
  <strong>Valor do plano: </strong> {{ price}} <br />
  <br />
  <small>
    Não perca tempo e venha treinar.
  </small>
</p>
